==========================================
Python
==========================================

pycache/
*.py[cod]
*$py.class

==========================================
Virtual Environments
==========================================

venv/
env/
ENV/
.venv/

==========================================
Jupyter
==========================================

.ipynb_checkpoints

==========================================
VS Code
==========================================

.vscode/

==========================================
PyCharm
==========================================

.idea/

==========================================
Model Files
==========================================

*.pkl
*.joblib
*.h5
*.model

==========================================
Logs
==========================================

*.log

==========================================
OS Files
==========================================

.DS_Store
Thumbs.db

==========================================
Kaggle Data
==========================================

data/.csv
data/.zip
data/*.parquet

Keep folder structure

!data/.gitkeep

==========================================
Temporary Files
==========================================

temp/
tmp/

==========================================
Outputs
==========================================

outputs/
predictions/

==========================================
Cache
==========================================

.cache/
.pytest_cache/
.mypy_cache/